:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --background-hero-color: #2f303a;
  --background-hat-color: #ffffff;
  --background-team-color: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
}
/* УТИЛИТЫ */
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container,
.container-header {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* HEADER */
.site-nav .link.current {
  color: var(--accent-color);
}
.logo-header {
  margin-right: 93px;

  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-header > span {
  color: var(--accent-color);
}
.header .list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #cecece;
}

/* NAVIGATION */
.container-header {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  color: var(--title-text-color);
}
.navigation .nav-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.site-nav a:hover,
.contacts a:hover,
.site-nav a:focus,
.contacts a:focus {
  color: var(--accent-color);
}
.nav-item .link,
.contacts-item .link {
  padding-top: 32px;
  padding-bottom: 32px;
}
/* HERO */
.hero {
  background-color: var(--background-hero-color);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  min-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}
.hero-button {
  margin: 0 auto;
  padding: 10px 30px;
  min-width: 200px;
  text-align: center;
  display: block;
  align-items: center;

  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
/* ADVANTAGES */
.advantages {
  background-color: var(--background-hat-color);
}
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-list {
  display: flex;
}
.advantages-title {
  color: var(--title-text-color);
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
}
.advantages-item:not(:last-child) {
  margin-right: 30px;
}
/* ACTIVITY */
.activity {
  padding-bottom: 94px;
}
.activity-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.activity-list .item {
  margin-left: 30px;
}
.activity-title {
  color: var(--title-text-color);
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* OUR TEAM */
.team {
  background-color: var(--background-team-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.team-list .item {
  margin-left: 30px;
}
.team-title {
  color: var(--title-text-color);
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-description {
  display: block;
  padding: 30px 32px;
  background-color: var(--background-hat-color);
}
.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-function {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.img-team {
  flex-direction: column;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* PORTFOLIO */
.work-block {
  background-color: var(--background-hat-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.filters {
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;

  color: var(--background-team-color);
  font-size: 14px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
}
.button-general {
  font-weight: 500;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
}

.button-item:not(:first-child) {
  margin-left: 8px;
}
button {
  cursor: pointer;
}
.button-general:active {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
.filters button:hover,
.filters button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.button-general.active {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
/* PORTFOLIO CATOLOG */
.portfolio-item .link {
  display: block;
}
.portfolio-item {
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
  width: 370px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.card-description {
  display: block;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.content-name {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.content-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* FOOTER */
.footer-page {
  background-color: var(--background-hero-color);

  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer .studio {
  color: var(--secondary-text-color);
}
.logo-footer {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}
.address {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.address-item {
  margin-bottom: 9px;
}
.footer-page a:hover,
.footer-page a:focus {
  color: var(--accent-color);
}

.map {
  color: var(--secondary-text-color);
}
